@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

:root {
    --cor0: #ffffff;
    --cor1: #1e2e85;
    --cor2: #2a6eac;
    --cor3: #fb6376;
    --cor4: #ddfcad;

    --font-padrao: Verdana, Arial, Helvetica, sans-serif;
    --font-destaque: 'Maven Pro', sans-serif;
    --font-titulo: 'Imbue', serif;
    --font-nav: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.center {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

header h1 {
    text-align: justify;
    font-family: var(--font-titulo);
    font-size: 2em;
    font-weight: 100;
}

nav {
    background-color: var(--cor0);
    padding: 20px;
    text-align: center;
    margin: 5px 20px 10px 5px;
}

nav > a {
    font-family: var(--font-nav);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px;
    transition-duration: 0.5s;
    font-weight: bold;
    color: var(--cor1);
    font-size: 1em;
}

nav > a:hover {
    color: var(--cor3)
}

.corpo {
    background-color: var(--cor0);
}

.slider {
    display: block;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 100px;
}

.slider li:nth-child(5) label {
    left: 130px;
}





.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: var(--cor1);
    padding: 10px;
    margin-top: 900px;
}

.rodape h4 {
    font-family: var(--font-destaque);
    color: var(--cor1);
    padding: 3px;
}

.rodape a {
    color: var(--cor1);
    text-decoration: none;
}

.rodape a:hover {
    color: var(--cor4);
}

.contato ul {
    list-style-position: inside;
    list-style-type: none;
    font-family: var(--font-padrao);
    font-size: 0.9em;
}

.social ul {
    list-style-position: inside;
    list-style-type: none;
    columns: 3;
    padding: 10px 0px 0px 0px;
}

.atendimento ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    font-family: var(--font-padrao);
    font-size: 0.9em;
}

.logo-final {
    display: block;
    width: 80%;
}

.imagem > p {
    text-align: justify;
    font-family: var(--font-padrao);
    font-size: 0.8em;
}

.privacidade {
    text-align: center;
    padding: 10px;
    font-family: var(--font-padrao);
    font-size: 0.8em;
}



